.kayfman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-position: -210px 0;
  position: absolute;
  top: -50px;
  right: -210px;
  z-index: 0;
}
