html, body, a, p, h1, h2, h3, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;

}

.logo {
  display: block;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  width: 228px;
  height: 32px;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

}

.header__title {
  display: inline;
  color: #000;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  margin: auto;
  margin-left: 64px;

}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  content: ' \27F6';
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;

}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  z-index: 0;
  background-color: #2f80ed;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;


}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent::before {
  content: 'Вывод: ';
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
